<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifify user homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:#aedc8a;">Gifify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-right" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-2 align-items-end">
                        <li>
                            <a class="btn btn-light action-button mr-2" role="button" href="{{url_for('main.account')}}"
                                style="background-color:#aedc8a;">Account</a>
                        </li>
                        <li>
                            <a class="btn btn-light action-button" role="button" href="{{url_for('auth.logout')}}" style="background-color:#aedc8a;">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Welcome {{username}} &nbsp;</h2>
            </div>
            <div class="row">
                <div class="card" style="width:400px">
                    <div class="card-body ">
                      <form action="/upload" method="POST" enctype="multipart/form-data">
                      <p class="card-text">Upload a video file</p>
                        <input type="file" name="file" value="file">
                        <hr>
                      <input type="submit" name="upload" value="Upload" class="btn btn-success">
                      </form>
                      {{msg}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2> Uploaded Files </h2>
                    <hr/>
                    <div id="upload-links">
                        {%for file in uploaded_files%}
                        <li>{{file}}</li>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-6">
                    <h2> Download Gifs </h2>
                    <hr/>
                    <div id="download-links"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
